site_name: The Ugly Red Book
theme:
    name: material
    palette:
        scheme: slate
        primary: red
        accent: yellow
    font:
        code: Source Sans Pro
    features:
        - navigation.top
        - navigation.instant
        - search.suggest
        - search.highlight
markdown_extensions:
    - toc:
        permalink: true
    - pymdownx.highlight:
        linenums: true
    - pymdownx.superfences
    - pymdownx.inlinehilite
    - pymdownx.tilde
    - abbr
    - admonition
