name: github pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      # Checkout code
      - name: Checkout
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0

      # Setup Python
      - name: Setup Python
        uses: actions/setup-python@v2.2.1
        with:
          architecture: 'x64'

      # Install pip requirements
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install -r ./requirements.txt

      # Build the mkdocs
      - name: Build Docs
        run: mkdocs build

      # Deploy to gh-pages branch 
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./site
